<!-- app.component.html -->
<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="behavior"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >BehaviorSubject</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="replay" routerLinkActive="active"
      >ReplaySubject</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="async" routerLinkActive="active"
      >AsyncSubject</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="shopping" routerLinkActive="active"
      >ShoppingCart</a
    >
  </li>
</ul>
<router-outlet></router-outlet>
